//--------------------------------------------------------------
// GOAL MODE
//--------------------------------------------------------------

//--------------------------------
// GLOBAL
//--------------------------------
.bloom-sidebar {
    button > * {
        // make sure nothing within the button has pointer-events
        // clicks inside the button will always be for the button itself
        pointer-events: none;
    }
}

//--------------------------------
// GLOBAL STRUCTURE
//--------------------------------
.bloom-sidebar {
    height: auto;
    overflow: auto;
    z-index: 999999;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 320px;
    font-family: sans-serif, "Helvetica";
    background: #121217;

    &-container {
        // padding: 20px;
        height: 100%; /* needed for proper layout */
        display: flex;
        flex-direction: column;
    }

    /**
    * Header
    */
    &-header {
        flex: 0 0 auto; /* positions header at top */
        display: flex; /* makes inner elements flex */
        align-items: center;
        background-color: #121217;
        padding: 30px 26px 15px 26px;
        color: #fff;

        &-left {
            display: flex;
            align-items: center;
            flex: 1; /* Push other items right */

            svg {
                width: 22px;
                margin-right: 5px;
            }
        }

        &-right {
            cursor: pointer;
        }
    }

    /**
    * Content
    */
    &-content {
        flex: 1 1 auto;
        position: relative; /* needed to position inner content */
        overflow-y: auto;
        background-color: #121217;
        padding: 15px 26px 15px 26px;

        &-title {
            text-align: center;
            color: #fff;
            font-weight: bold;
            margin-bottom: 20px;
            font-size: 22px;
        }

        &-triggers {
            margin-bottom: 40px;
        }

        &-details {

            table {
                font-size: 14px;
                line-height: 20px;
                background-color: transparent !important;

                tr {
                    border-bottom: none;
                    height: 36px;
                    background-color: transparent !important;
                }

                td {
                    padding: 5px 0;
                    vertical-align: top;
                    color: #fff;
                    background-color: transparent !important;

                    &:first-child {
                        color: #e8006e;
                        text-align: right;
                        padding-right: 15px;
                        background-color: transparent !important;
                    }
                }
            }
        }
    }

    /**
    * Footer
    */
    &-footer {
        flex: 0 0 auto;
        background-color: #2D303D;
        padding: 20px 26px 20px 26px;
        color: #fff;

        &-create {
            width: 100%;
            color: #fff;
            text-align: center;
        	font-weight: bold;
            border-radius: 9px;
            padding: 10px 0;
            background: linear-gradient(90deg, #E8006E 0%, #F41E1E 100%);

            &:hover {
                background: linear-gradient(90deg, #E8006E 0%, #E8006E 100%);
            }
        }
    }

}

//--------------------------------
// CARDS
//--------------------------------
.bloom-card {
    display: flex;
	justify-content: space-between;
	align-items: center;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 9px;
    padding: 14px 10px;
    width: 100%;

    &-left {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        background: #FEEEF3;
    }

    &-body {
        flex-grow: 1;
        padding: 0 9px;
        color: #000;
        text-align: left;

        &-label {
            font-size: 15px;
            font-weight: bold;
            text-transform: capitalize;
        }

        &-trigger {
            font-size: 13px;
        }

        &-selector {

        }

    }

    &-right {

    }
}

//--------------------------------
// NEW GOAL
//--------------------------------

// Category selector
.bloom-single-trigger {
    background: transparent;
    border: 2px solid #6A7086;
    padding: 6px 10px;
    cursor: pointer;

    .bloom-card-left {
        background: transparent;
    }

    .bloom-card-body {
        color: #fff;
    }

    &.selected {
        background: #fff;
        border: 2px solid #fff;

        .bloom-card-left {
            background: initial;
        }

        .bloom-card-body {
            color: initial;
        }
    }
}

//--------------------------------
// PAUSE SWITCH
//--------------------------------

/* The switch - the box around the slider */
.bloom-switch-container {

    &-switch {
        position: relative;
        display: inline-block;
        width: 36px;
        height: 24px;

        /* Hide default HTML checkbox */
        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        &-label {
            font-size: 13px;
        }
    }

}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #E8006E 0%, #F41E1E 100%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background: #2d303d;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background: linear-gradient(90deg, #E8006E 0%, #F41E1E 100%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #fafafa;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
  background: #fff;
}

/* Rounded slider */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

//--------------------------------------------------------------
// GOAL MODE INACTIVE
//--------------------------------------------------------------

//--------------------------------
// GOALMODE TRIGGER DOT
//--------------------------------
.bloom-goalmode-trigger-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    z-index: 100;
    background: #121217;
    box-shadow: 0 0 20px rgba(#333, 0.2);
    transition: 200ms ease-in-out;
    cursor: pointer;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 10px 10px 50px rgba(#333, 0.2),
                    10px -10px 50px rgba(#333, 0.2);
    }
}
