//--------------------------------------------------------------
// GLOBAL FRONTEND SETTINGS
//--------------------------------------------------------------

// Theme
$color-primary: #00bfdc;
$color-secondary: #979797;
$color-gray: #909CA1;

// Interactions
$color-primary-hover: lighten($color-primary, 14%);

// Base
$color-white: #FFFFFF;
